.page {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  padding: 20px 50px;
  background-image: url("/src/11.jpeg");
}
.left {
  width: 50%;
  margin: 0 0 0 0;
  width: 50%;
  height: 140px;
  overflow: auto;
  float: left;
}
.right {
  display: inline;
  text-align: right;
  width: 50%;
}
::placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: smaller;
}
.form-control {
  width: 500px;
  border-radius: 10px;
  margin-top: 0px;
  display: block;
  border: 10px;
}
.forecast {
  margin: auto;
  display: block;
  font-size: medium;
}
.col {
  line-height: 0.8;
  text-align: center;
}
.emj {
  font-size: 50px;
}
.day {
  font-weight: bold;
}
.current_temperature {
  font-size: 40px;
  margin-top: 40px;
  color: rgb(114, 114, 114);
}
#submit {
  border-radius: 10px;
  border: 0px;
  background-color: rgb(227, 240, 252);
  display: inline;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 120px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.city {
  font-size: 40px;
}
button {
  border-radius: 10px;
  border: 0px;
  background-color: rgb(255, 231, 235);
  display: inline;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 80px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
